mixin cardBlogArticle(text, link, image, cardSize="173")
  td(width=`${cardSize}`)
    table(border='0' cellpadding='0' width=`${cardSize}` cellspacing='0' height='100%')
      tbody(height='100%')
        tr(style='vertical-align: top;')
          td(style='vertical-align: top;')
            a(href=link target='_blank')
              img(alt='' height='171' src=image style=`display: block; width: ${cardSize}px; object-fit:cover; height: 171px; border-radius: 4px` width=`${cardSize}`)
        +separator('16')
        tr
          +text(text, '14px')
        +separator('12')
        tr(height='100%' style='vertical-align: bottom;')
          td
            p(style='color: #2d2d2d; font-family: Arial, Helvetica, sans-serif; font-size: 16px; font-weight: bold; line-height: 1.2; margin: 0;')
              a(href=link target='_blank' style='color: #2d2d2d;  text-decoration: none;') Ver más
              |  &rarr;